{{ ansible_managed|comment }}
[sssd]
domains = {{ sssd_kerberos_realm|lower }}
config_file_version = 2
services = nss, pam, ssh

[domain/{{ sssd_kerberos_realm|lower }}]
ad_domain = {{ sssd_kerberos_realm|lower }}
krb5_realm = {{ sssd_kerberos_realm|upper }}
realmd_tags = manages-system joined-with-adcli
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = False
# use_fully_qualified_names = True
fallback_homedir = /home/%d/%u
access_provider = ad